*{
    margin: 5;
    padding: 5;
    list-style:decimal;
}






body{
    background-color: blanchedalmond;
}

.boton1{
    background-color: aqua;
    color: blueviolet;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-color:yellow ;
    font-family: 'Bebas Neue', cursive;
}

.info{
    font-family: 'Bebas Neue', cursive;
    color: rgb(255, 0, 0);
}

#nombre{
    background-color: rgba(255, 127, 80, 0.603);
}

#apellido{
    background-color: rgba(255, 127, 80, 0.603);
}

.formulario{
    font-family: 'Edu NSW ACT Foundation', cursive;
    background-color: rgba(140, 236, 223, 0.644);
    margin-left: 40%;
    margin-right: 40%;
}
